*.swp
out*.png
*.prototxt*
*.caffemodel
models/
!models/download_models.sh


output/*.jpg
output/final/*.jpg
output/gif/*.gif
content_incoming
!content_incoming/.NOTE.md
content_complete
!content_complete/.NOTE.md
all_styles
!all_styles/.NOTE.md
active_styles
!active_styles/.NOTE.md
