VGG_ILSVRC_19_layers.caffemodel
VGG_ILSVRC_19_layers_deploy.prototxt
VGG_ILSVRC_19_layers_deploy.prototxt.lua
VGG_ILSVRC_19_layers_deploy.prototxt.cpu.lua
VGG_ILSVRC_19_layers_deploy.prototxt.opencl.lua
vgg_normalised.caffemodel
